* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

/* Header*/
header{
    width: 100%;
    height: 100vh;
    background-color: #333333;
    background-size: cover;
}

.nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;
}

.nav.active{
    background: #fff;
}

.nav.active .logo,
.nav.active a{
    color: #000;
}

.nav.active a:hover{
    background: #000;
    color: #fff;
}

.logo{
    font-size: 25px;
    color: #fff;
    font-weight: 100;
}

.menu{
    display: flex;
}

.menu li{
    list-style: none;
    margin: 10px;
}
.menu li a{
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;
}

.menu li a:hover{
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px;
}

.scroll {
    height: 100px;
}

/* Mapa en movimiento */
.nave_espacila .imagen_nave{
    width: 50px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
/* 
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #333333;
    color: #ffffff;
}
*/

/* *Vista de video - Camara Braille */
#video-container {
   width: 640px;
   height: 480px;
   position: relative;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#pose-video {
    transform: scaleX(-1);
}

#pose-result {
    font-size: 100px;
    text-align: right;
    padding: 20px 30px 0 0;
}

.layer{
    background-color: brown;
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}